@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <img src="~/Images/120524040801-airport-restaurant-5-horizontal-large-gallery.jpg" width="1000" height="370" />   
    </div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Remember</h2>
        <p>
            Treat the customer with respect, they are most your of income.
        </p>
    </div>
</div>*@