@{
    ViewBag.Title = "AuthorizeFailed";
}

<h2>Authorize Failed</h2>

@ViewData["Message"]
@{
    ViewBag.Title = "AuthorizeFailed";
}



<img src="~/Images/Child_Kneel.gif" width="200" height="271"  HorizontalAlign="Center"/>