@{
    ViewBag.Title = "AuthorizeFailed";
}

<h2>Authorize Failed</h2>

@ViewData["Message"]
@{
    ViewBag.Title = "AuthorizeFailed";
}



<img src="~/Images/Adventure.png" width="724" height="471"  HorizontalAlign="Center"/>